@import '../../scss/variables';

.LoginPage {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  .container {
    width: 50%;
    height: 60%;
    border: 1px $base-color solid;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    p {
      font-size: 2.2rem;
      font-weight: 500;
      color: $base-color;
    }
    button {
      background-color: $base-color;
      border: none;
      color: #fff;
      width: 130px;
      height: 37px;
      border-radius: 30px;
    }
  }
}
